.loginForm {
  width: 330px;
  margin: auto;
}

.loginUsernameEmailForm {
  position: relative;
  top: 20px;
}
.loginUsernameEmailForm label {
  width: 100%;
}
.loginUsernameEmailForm input {
  width: 100%;
}
.loginPasswordForm {
  position: relative;
  top: 40px;
}
.loginPasswordForm label {
  width: 100%;
}
.loginPasswordForm input {
  width: 100%;
}
.loginSubmitBtn {
  position: relative;
  top: 80px;
  left: 30%;
  width: 8rem;
  height: 2rem;
  line-height: 0px;
}
.loginFormErrorMsg {
  position: relative;
  top: 6.5rem;
}
.loginFormError {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 6rem;
}
